header{
    background-color: mediumpurple;
}
#páo{
    background-color: aqua;
    height: 700px;
}
#culposos{
    background-color: bisque;
    height: 200px;
}
#historia{
    background-color: blueviolet;
    height: 300px;
}
#nigga{
    background-color: black;
    height: 100px;
}